* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.card-container {
  margin: 50px 0;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  display: grid;
}

.cart-warning {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#chooseForMe {
  color: green;
  border-radius: 10px;
  border-style: solid;
  border-color: green;
  padding: 15px;
}
#emptyCart {
  margin-left: 20px;
  color: red;
  border-radius: 10px;
  border-style: solid;
  border-color: red;
  padding: 15px;
}
.shop-container{
  display: grid;
  grid-template-columns:4fr 2fr;
}
.summary-container{
  text-align: center;
  margin: 50px 0;
  height: 45px;
}